<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PANEL_BUTTON_AUTOPLAY_BASE.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,457},{270,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,178}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>PANEL_BUTTON_AUTOPLAY_BASE1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,457},{270,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,178}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>PANEL_BUTTON_GAMBLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,202},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>PANEL_BUTTON_GAMBLE_DIS.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,202},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>PANEL_BUTTON_GAMBLE_DWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>PANEL_BUTTON_GAMBLE_NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,202},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>PANEL_BUTTON_SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,289},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_BUTTON_SPIN_DWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,289},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_BUTTON_SPIN_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,289},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_BUTTON_STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_BUTTON_STOP_DWN.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,457},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_BUTTON_STOP_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,457},{164,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>PANEL_LISTING_SELECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>PANEL_MENU_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{1049,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1049,72}}</string>
                <key>sourceSize</key>
                <string>{1049,72}</string>
            </dict>
            <key>SIDEPANEL_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,636},{718,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,216}}</string>
                <key>sourceSize</key>
                <string>{718,216}</string>
            </dict>
            <key>SIDEPANEL_BAR_locker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,202},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_BASE_TYPE_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,202},{118,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,77}}</string>
                <key>sourceSize</key>
                <string>{118,77}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_BASE_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,202},{138,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,77}}</string>
                <key>sourceSize</key>
                <string>{138,77}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_BASE_TYPE_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,202},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_GREEN_PRESS_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_GREEN_UP_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_PRESS_TYPE_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_PRESS_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,65},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_PRESS_TYPE_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_RED_PRESS_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_RED_UP_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,65},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_UP_TYPE_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_UP_TYPE_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,65},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>SIDEPANEL_BUTTON_UP_TYPE_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,65},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>SIDEPANEL_Listing_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,289},{91,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,146}}</string>
                <key>sourceSize</key>
                <string>{91,146}</string>
            </dict>
            <key>SIDEPANEL_Listing_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1},{116,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,45}}</string>
                <key>sourceSize</key>
                <string>{116,45}</string>
            </dict>
            <key>bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,202},{335,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,75}}</string>
                <key>sourceSize</key>
                <string>{335,75}</string>
            </dict>
            <key>gamemsg_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{311,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,26}}</string>
                <key>sourceSize</key>
                <string>{311,26}</string>
            </dict>
            <key>msg_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,289},{362,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,107}}</string>
                <key>sourceSize</key>
                <string>{362,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controlbar.png</string>
            <key>size</key>
            <string>{1051,853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c80d0dd80c05adfc87f591f4800663:fea04c861c60115a00129c8335463a5a:aba3b1740ca4f6005893332802e1d6fb$</string>
            <key>textureFileName</key>
            <string>controlbar.png</string>
        </dict>
    </dict>
</plist>
