<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lscj_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>lsjl_btn_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>lsjl_btn_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>lsjl_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,74},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{42,42}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>lsjl_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,93},{30,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{30,33}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>lsjl_zql.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{31,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{31,31}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lsjy.png</string>
            <key>size</key>
            <string>{165,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de504dddab5ea1bdeecd6cdde9904e8$</string>
            <key>textureFileName</key>
            <string>lsjy.png</string>
        </dict>
    </dict>
</plist>
