<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rember_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{689,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,178}}</string>
                <key>sourceSize</key>
                <string>{689,178}</string>
            </dict>
            <key>rember_lscj.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{112,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>rember_zql.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,92},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>result_haoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,92},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>result_jy_nums_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resultpanel.png</string>
            <key>size</key>
            <string>{966,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9aa093430a5bc12087913976ea703a6$</string>
            <key>textureFileName</key>
            <string>resultpanel.png</string>
        </dict>
    </dict>
</plist>
