<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaishi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{266,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,105}}</string>
                <key>sourceSize</key>
                <string>{266,105}</string>
            </dict>
            <key>select_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,57},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>select_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,7},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>select_lab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,3}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{531,3}}</string>
                <key>sourceSize</key>
                <string>{531,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectpanel.png</string>
            <key>size</key>
            <string>{535,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8333f066461e8cfcb00be33beb950454$</string>
            <key>textureFileName</key>
            <string>selectpanel.png</string>
        </dict>
    </dict>
</plist>
